<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
			 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			 xmlns="http://www.springframework.org/schema/integration"
			 xsi:schemaLocation="http://www.springframework.org/schema/beans
								 http://www.springframework.org/schema/beans/spring-beans.xsd
								 http://www.springframework.org/schema/integration
								 http://www.springframework.org/schema/integration/spring-integration.xsd">
								 
	<channel id="inputChannel"/>
	<channel id="outputChannel"/>

	<service-activator input-channel="inputChannel" ref="helloService" method="sayHello" output-channel="outputChannel"/>
	<beans:bean id="helloService" class="self.poc.endpoints.serviceactivators.MyHelloService"/>
	
	<outbound-channel-adapter ref="receiver" method="receive" channel="outputChannel"></outbound-channel-adapter>
	<beans:bean id="receiver" class="self.poc.endpoints.serviceactivators.MessageReceiver"/>
	
</beans:beans>