<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:amq="http://activemq.apache.org/schema/core" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://activemq.apache.org/schema/core
						http://activemq.apache.org/schema/core/activemq-core-5.5.0.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/jms
						http://www.springframework.org/schema/jms/spring-jms.xsd
						http://www.springframework.org/schema/tx
						http://www.springframework.org/schema/tx/spring-tx.xsd">

	<!-- Activemq connection factory -->
	<!-- 
		<bean id="amqConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
			<constructor-arg index="0" value="tcp://localhost:61616" />
		</bean>
	 -->
	 
	<bean id="amqConnectionFactory" class="org.apache.activemq.ActiveMQSslConnectionFactory">
	  <property name="trustStore" value="D:\CODE-BASE\proof-of-concepts\SpringAMQMessaging\apache-activemq-5.14.5\certs\client.ts" />
	  <property name="trustStorePassword" value="SpringAMQMessaging" />
	  <property name="keyStore" value="D:\CODE-BASE\proof-of-concepts\SpringAMQMessaging\apache-activemq-5.14.5\certs\client.ks" />
	  <property name="keyStorePassword" value="SpringAMQMessaging" />
	  <property name="brokerURL" value="ssl://localhost:61617" />
	</bean> 	

	<!-- ConnectionFactory Definition -->
	<bean id="connectionFactory"
		class="org.springframework.jms.connection.CachingConnectionFactory">
		<constructor-arg ref="amqConnectionFactory" />
	</bean>

	<!-- Default Destination Queue Definition -->
	<bean id="defaultDestination" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg index="0" value="self.poc.myqueue" />
	</bean>

	<!-- JmsTemplate Definition -->
	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="defaultDestination" ref="defaultDestination" />
	</bean>

	<!-- Message Sender Definition -->
	<bean id="messageSender" class="self.poc.MessageSender">
		<constructor-arg index="0" ref="jmsTemplate" />
	</bean>

</beans> 